@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Open+Sans:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    padding: 0 3rem;
}

    .navbar a {
        color: #fff;
        padding: 10px 20px;
        margin: 0 5px;
    }

    .navbar ul li a:hover {
        border-bottom: 2px solid var(--warning);
    }

    .navbar ul {
        display: flex;
    }

    .navbar .logo img {
        margin-top: 2.5vh;
        width: 35vh;
    }

    .navbar h1 {
    }

    .navbar span {
        color: var(--warning);
    }

.main-header {
    background-position: center;
    height: 15vh;
    color: red;
    position: relative;
}

    .main-header .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
    }

    .main-header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    .main-header * {
        z-index: 5;
    }

    .main-header h1 {
        font-size: 5.5rem;
    }

    .main-header .content p {
        font-size: 2.3rem;
        max-width: 60rem;
        margin: 2rem 0 3rem;
    }

/* icons */

.icons {
    padding: 30px;
}

    .icons h3 {
        font-weight: 400;
        margin-bottom: 15px;
    }

    .icons i {
        background-color: var(--primary);
        color: #fff;
        padding: 1rem;
        border-radius: 50%;
        margin-bottom: 1.5rem;
    }

/* about */
#about {
    margin: 2rem 0;
}

    #about h2 {
        font-size: 4rem;
        font-weight: 400;
    }

    #about p {
        margin: 2rem 0;
    }
/* gallery */

.gallery img:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* cards */
.card {
    color: #fff;
    font-weight: 700;
}

.card-body {
    padding: 2rem;
    margin-top: -2.5rem;
}
/* teams */
.teams img {
    border-radius: 50%;
}

    .teams img:hover {
        opacity: 0.7;
    }
/* contact */

.contact-form {
    width: 100%;
    padding: 2rem 0;
}

    .contact-form label {
        display: block;
        margin-bottom: .5rem;
    }

    .contact-form .form-control {
        margin-bottom: 1.5rem;
    }

    .contact-form input {
        width: 100%;
        padding: .5rem;
        height: 40px;
        border: 1px solid #f5f5f5;
    }

    .contact-form .btn {
        margin-top: 20px;
    }

.contact h2 {
    font-size: 4rem;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

    .footer a {
        color: var(--danger);
    }

        .footer a:hover {
            opacity: 0.7;
        }

.social a {
    margin-right: 10px;
}
/* mobile */
@media (max-width:768px) {
    html {
        font-size: 8px;
    }

    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

        .navbar a {
            padding: 10px;
            margin: 0 3px;
        }

    .teams img {
        width: 70%;
    }
}

.sagmenu {
    width: 30vh;
    height: 10vh;
    z-index: 1;
    margin-top: 30px;
    
}

.linkadmin {
    width: 13vh;
    height: 5vh;
    float: left;
}

    .linkadmin img {
        opacity: 1;
    }

        .linkadmin img:hover {
            opacity: 0.8;
        }

.linkmusteri {
    width: 13vh;
    height: 5vh;
    float: left;
}

    .linkmusteri img {
        opacity: 1;
    }

        .linkmusteri img:hover {
            opacity: 0.8;
        }


/*Slider*/
.alan {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

#slider-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 133vh;
    height: 150vh;
    overflow: hidden;
}

.img-bir, .img-iki, .img-uc, .img-dort, .img-bes {
    position: absolute;
    width: 133vh;
    height: 100%;
}

.img-bir {
    left: 0vh;
}

.img-iki {
    left: 133vh;
}

.img-uc {
    left: 266vh;
}

.img-dort {
    left: 399vh;
}

.img-bes {
    left: 532vh;
}

#slider-wrapper > .slider {
    position: absolute;
    left: 0px;
    width: 600vh;
    height: 400px;
    -webkit-animation-duration: 15s;
    -webkit-animation-name: sliders;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 15s;
    -moz-animation-name: sliders;
    -moz-animation-iteration-count: infinite;
    -ms-animation-duration: 15s;
    -ms-animation-name: sliders;
    -ms-animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

    #slider-wrapper > .slider:hover {
        -webkit-animation-play-state: paused;
    }


#slider-wrapper a {
    font-size: 18px;
    font-family: Arial;
}

@-webkit-keyframes sliders {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -133vh;
    }

    30% {
        left: -133vh;
    }

    40% {
        left: -266vh;
    }

    50% {
        left: -266vh;
    }

    60% {
        left: -399vh;
    }

    70% {
        left: -399vh;
    }

    80% {
        left: -532vh;
    }

    90% {
        left: -532vh;
    }
}

@-moz-keyframes sliders {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -133vh;
    }

    30% {
        left: -133vh;
    }

    40% {
        left: -266vh;
    }

    50% {
        left: -266vh;
    }

    60% {
        left: -399vh;
    }

    70% {
        left: -399vh;
    }

    80% {
        left: -532vh;
    }

    90% {
        left: -532vh;
    }
}

@-ms-keyframes sliders {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -133vh;
    }

    30% {
        left: -133vh;
    }

    40% {
        left: -266vh;
    }

    50% {
        left: -266vh;
    }

    60% {
        left: -399vh;
    }

    70% {
        left: -399vh;
    }

    80% {
        left: -532vh;
    }

    90% {
        left: -532vh;
    }
}

@keyframes sliders {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -133vh;
    }

    30% {
        left: -133vh;
    }

    40% {
        left: -266vh;
    }

    50% {
        left: -266vh;
    }

    60% {
        left: -399vh;
    }

    70% {
        left: -399vh;
    }

    80% {
        left: -532vh;
    }

    90% {
        left: -532vh;
    }
}

/*dönen fotolar*/
.alan2 {
    margin-top: 9.7vh;
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: powderblue;
}

.alan2fotolar {
    margin: auto;
    width: 100vh;
    height: 80vh;
    float: left;
}

.alan2fotolar1 {
    margin-left: 0vh;
    margin-top: 3%;
    width: 30%;
    height: 80%;
    float: left;
}

    .alan2fotolar1 a img {
        opacity: 0.8;
        width: 100%;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }

        .alan2fotolar1 a img:hover {
            opacity: 1.2;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }

.alan2fotolar2 a img:hover {
    opacity: 1.2;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.alan2fotolar3 a img:hover {
    opacity: 1.2;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.alan2fotolar2 a img {
    width: 100%;
    opacity: 0.8;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.alan2fotolar3 a img {
    width: 100%;
    opacity: 0.8;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.alan2fotolar2 {
    margin-left: 5vh;
    margin-top: 3%;
    width: 30%;
    height: 80%;
    float: left;
}

.alan2fotolar3 {
    margin-left: 5vh;
    margin-top: 4%;
    width: 30%;
    height: 80%;
    float: left;
}

.alan3 {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: white;
}

.alan3aciklama {
    margin: auto;
    width: 90%;
    height: 10%;
}

    .alan3aciklama h1 {
        font-weight: bold;
        margin-left: 38%;
    }

    .alan3aciklama p {
        margin-left: 32%;
    }

.alan3yatay1 {
    margin: auto;
    width: 90%;
    height: 30%;
    margin-left: 10%;
}

.alan3yatay1foto1 {
    width: 30%;
    height: 100%;
    float: left;
}

.alan3yatay1foto1img {
    margin-top: 13%;
    width: 25%;
    height: 50%;
    float: left;
}

.alan3yatay1foto1aciklama {
    width: 70%;
    margin-top: 15%;
    margin-left: 3%;
    height: 70%;
    float: left;
}

.p_ayar {
    font-weight: bold;
}

.alan3yatay1foto2 {
    width: 30%;
    height: 100%;
    float: left;
}

.alan3yatay1foto3 {
    width: 30%;
    height: 100%;
    float: left;
}

.alan3yatay2 {
    margin: auto;
    width: 90%;
    height: 40%;
    margin-left: 10%;
}


.alan4 {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-top: 5%;
    background-image: url('img/alan4arkaplan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.musteriyorumlari {
    width: 100%;
    height: 40%;
    background: rgba(255,255,255, 0.6);
}

.yorumsliderresim {
    width: 10%;
    height: 100%;
    float: left;
}

    .yorumsliderresim img {
        float: left;
    }

.hslide p, h3 {
    color: rgba(0, 0, 0, 1);
}

.hmove {
    display: flex;
}

.hslide {
    width: 100%;
    flex-shrink: 0;
}

.hwrap {
    margin-top: 3%;
    margin-left: 33%;
    overflow: hidden;
}

.hmove {
    position: relative;
    top: 0;
    right: 0;
}

@keyframes slideh {
    0% {
        right: 0;
    }

    30% {
        right: 0;
    }

    33% {
        right: 100%;
    }

    63% {
        right: 100%;
    }

    66% {
        right: 200%;
    }

    97% {
        right: 200%;
    }

    100% {
        right: 0;
    }
}

.hmove {
    animation: slideh linear 15s infinite;
}

    .hmove:hover {
        animation-play-state: paused;
    }

/*hizmetlerimiz*/
body {
}
