@model IEnumerable<FRFELOBOOST.Models.Comments>

@{
    ViewBag.Title = "Yorumlar";
    Layout = "~/Views/Shared/MusteriLayout.cshtml";
    <link href="~/Content/yorumlar-müsteri.css" rel="stylesheet" />
}
<div class="booster_basvuru">
    <br />
    <br /> <br />


</div>
<div class="alan_ortala">

    <div>

        <table class="table">
            <tr>
                <th>
                    <p>Yorum İçeriği</p>
                </th>
                <th>
                    <p>Musteri Adı</p>
                </th>
                <th>
                    <p>Oyun Adı</p>
                </th>
                <th> Detaylar</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="baslik-boyut">
                        @Html.DisplayFor(modelItem => item.CommentsName)
                    </td>
                    <td class="oyun-boyut1">
                        @Html.DisplayFor(modelItem => item.Customers.username)
                    </td>
                    <td class="oyun-boyut">
                        @Html.DisplayFor(modelItem => item.Games.GamesName)
                    </td>
                    <td class="baslik-boyut1">

                        <a class="btn btn-primary" href="@Url.Action("Details", "Comments", new { id= item.CommentsID})">Detayı Gör</a>

                    </td>
                </tr>
            }

        </table>

    </div>
</div>


